
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&display=swap');

body {
  margin: 0;
  font-family: 'Poppins', sans-serif;
  background: linear-gradient(to right, #0f2027, #203a43, #2c5364);
  color: white;
}
.container {
  max-width: 1000px;
  margin: auto;
  padding: 20px;
}
.profile-img {
  width: 120px;
  border-radius: 50%;
}
.skills-list li {
  margin-bottom: 8px;
  color: #00ffd9;
  font-size: 16px;
  font-weight: 500;
}
.project, .certificate-card {
  background-color: rgba(255,255,255,0.1);
  padding: 15px;
  margin: 10px 0;
  border-radius: 10px;
}
.code-box {
  background: black;
  color: #0f0;
  padding: 10px;
  overflow-x: auto;
}
.button {
  display: inline-block;
  margin-top: 10px;
  padding: 10px 20px;
  background: #00adb5;
  color: white;
  border: none;
  border-radius: 5px;
  text-decoration: none;
}
.certificate-card a {
  color: #00ffd9;
  text-decoration: none;
}
.certificate-card:hover {
  transform: scale(1.05);
  transition: 0.3s;
}
